.main {
  background-color: rgb(150, 189, 240);
}
.container
{
  margin-top: 20px;
}

.button {
  width: 48%;
  border: 2px solid black;
  background-color: rgb(229, 220, 238);
  margin-bottom: 30px;
}

.button:hover {
  background: rgba(31, 123, 228, 0.671);
	color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
  color: #ffffff;
}

.button:focus {
  outline: none;
}


#btn:focus {
  outline: none;
}
.btn_text {
  margin: 0px;
}

.text_name {
  text-align: center;
  font-family: serif;
  font-size: 20px;
}

